{% extends 'authentication/base_auth.html' %}
{% load i18n %}

{% block title %}{% trans 'Forgot Password' %}{% endblock title %}

{% block auth_form %}
<div class="col-lg-5">
    <!-- Basic forgot password form-->
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header justify-content-center text-center">
            <h3 class="fw-light my-4">{% block password_title %}{% endblock password_title %}</h3>
        </div>
        {% block card_body %}{% endblock card_body %}
    </div>
</div>
{% endblock auth_form %}