{% extends 'authentication/base_auth.html' %}
{% load i18n %}

{% block meta %}
{% include 'authentication/includes/register_meta.html' %}
{% endblock meta %}

{% block title %}{% trans 'Register' %}{% endblock title %}

{% block auth_form %}
<div class="col-xl-8 col-lg-9">
    <div class="card my-5">
        <div class="card-body mt-2 mx-5 text-center">
            <div class="h3 fw-light mb-2">{% trans 'Create an Account' %}</div>
        </div>
        <hr class="my-0" />
        <div class="card-body mt-3">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{form.first_name.errors}}
                        {{form.last_name.errors}}
                        {{form.email.errors}}
                        {{form.username.errors}}
                        {{form.password.errors}}
                        {{form.confirm_password.errors}}
                        {{form.gender.errors}}
                        {{form.phone.errors}}
                        {{form.birthday.errors}}
                        {{form.privacy.errors}}
                    </div>
                {% endif %}

                <div class="row gx-3">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                            {{form.first_name}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span>
                            {{form.last_name}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-open-fill"></i>
                            </span>
                            {{form.email}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-person-circle"></i>
                            </span>
                            {{form.username}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            {{form.password}}
                            <button onclick='togglePasswordVisibility("icon-password", "register_id_password")'
                                class="btn btn-outline-secondary" type="button">
                                <i id="icon-password" class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            {{form.confirm_password}}
                            <button
                                onclick='togglePasswordVisibility("icon-confirm_password", "register_id_confirm_password")'
                                class="btn btn-outline-secondary" type="button">
                                <i id="icon-confirm_password" class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-venus-mars"></i></span>
                            {{form.gender}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                            {{form.phone}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-cake-candles"></i></span>
                            {{form.birthday}}
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        {{form.privacy}}
                        <label class="form-check-label" for="register_id_privacy_policy">
                            {% trans "I accept the " %} <a href="#!">{% trans 'Terms &amp; Conditions' %}</a>.
                        </label>
                    </div>
                </div>

                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary" type="submit">
                        {% trans "Create Account" %}
                    </button>
                </div>
            </form>
        </div>
        <hr class="my-0" />
        <div class="card-body px-5 my-1">
            <div class="small text-center">
                {% trans "Have an account?" %}
                <a href="{{login_url}}">Login!</a>
            </div>
        </div>
    </div>
</div>
{% endblock auth_form %}