{% extends 'dashboard/user_settings/user_base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Change Password' %} - {{user.full_name}}{% endblock title %}

{% block header_title %}{% trans "Account Settings - Change Password" %}{% endblock header_title %}

{% block card_header %}{% trans 'Change Password' %}{% endblock card_header %}

{% block form %}
<form method="post">
    {% csrf_token %}
    <!-- Form Group (current password)-->
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        {{form.password}}
        <button onclick='togglePasswordVisibility("icon-password", "update_password")'
            class="btn btn-outline-secondary" type="button">
            <i id="icon-password" class="bi bi-eye-fill"></i>
        </button>
        {% if form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.password.errors}}
        </div>
        {% endif %}
    </div>

    <!-- Form Group (new password)-->
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        {{form.new_password}}
        <button onclick='togglePasswordVisibility("icon-new_password", "update_new_password")'
            class="btn btn-outline-secondary" type="button">
            <i id="icon-new_password" class="bi bi-eye-fill"></i>
        </button>
        {% if form.new_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.new_password.errors}}
        </div>
        {% endif %}
    </div>

    <!-- Form Group (confirm password)-->
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        {{form.confirm_password}}
        <button
            onclick='togglePasswordVisibility("icon-confirm_password", "update_confirm_password")'
            class="btn btn-outline-secondary" type="button">
            <i id="icon-confirm_password" class="bi bi-eye-fill"></i>
        </button>
        {% if form.confirm_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.confirm_password.errors}}
        </div>
        {% endif %}
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
    </div>
</form>               
{% endblock form %}