{% extends 'dashboard/user_settings/user_base.html' %}

{% load i18n static %}

{% block title %}{% trans 'Change Notifications' %} - {{user.full_name}}{% endblock title %}

{% block header_title %}{% trans "Account Settings - Change Notifications" %}{% endblock header_title %}

{% block card_header %}{% trans 'Change Notifications' %}{% endblock card_header %}

{% block global_content %}
<div class="row">
    <div class="col-lg-8">
        <!-- Email notifications preferences card-->
        <div class="card mb-4 mb-xl-0">
            <div class="card-header text-center">Email Notifications</div>
            <div class="card-body">
                <form>
                    <!-- Form Group (default email)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="inputNotificationEmail">Default notification email</label>
                        <input class="form-control" id="inputNotificationEmail" type="email" value="{{user.email}}"
                            disabled />
                    </div>
                    <!-- Form Group (email updates checkboxes)-->
                    <div class="mb-0">
                        <label class="small mb-2">Choose which types of email updates you receive</label>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkAccountChanges" type="checkbox" />
                            <label class="form-check-label" for="checkAccountChanges">Changes made to your
                                account</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkAccountGroups" type="checkbox" />
                            <label class="form-check-label" for="checkAccountGroups">Changes are made to groups you're
                                part of</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkProductUpdates" type="checkbox" />
                            <label class="form-check-label" for="checkProductUpdates">Product updates for products
                                you've purchased or starred</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkProductNew" type="checkbox" />
                            <label class="form-check-label" for="checkProductNew">Information on new products and
                                services</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkPromotional" type="checkbox" />
                            <label class="form-check-label" for="checkPromotional">Marketing and promotional
                                offers</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkSmsComment" type="checkbox" />
                            <label class="form-check-label" for="checkSmsComment">Someone comments on your post</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkSmsShare" type="checkbox" />
                            <label class="form-check-label" for="checkSmsShare">Someone shares your post</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkSmsFollow" type="checkbox" />
                            <label class="form-check-label" for="checkSmsFollow">A user follows your account</label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input" id="checkSmsGroup" type="checkbox" />
                            <label class="form-check-label" for="checkSmsGroup">New posts are made in groups you're part
                                of</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="checkSmsPrivateMessage" type="checkbox" />
                            <label class="form-check-label" for="checkSmsPrivateMessage">You receive a private
                                message</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="checkSecurity" type="checkbox" disabled checked/>
                            <label class="form-check-label" for="checkSecurity">Security alerts</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Notifications preferences card-->
        <div class="card">
            <div class="card-header text-center">Notification Preferences</div>
            <div class="card-body">
                <form>
                    <!-- Form Group (notification preference checkboxes)-->
                    <div class="form-check mb-2">
                        <input class="form-check-input" id="checkAutoGroup" type="checkbox" />
                        <label class="form-check-label" for="checkAutoGroup">Automatically subscribe to notifications</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" id="checkAutoProduct" type="checkbox" />
                        <label class="form-check-label" for="checkAutoProduct">Automatically subscribe to notifications</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock global_content %}