{% extends 'authentication/password_reset_base.html' %}
{% load i18n %}

{% block password_title %}
{% trans "Password Recovery" %}
{% endblock password_title %}

{% block card_body %}
<div class="card-body">
    <!-- Forgot password form-->
    <form method="POST">
        {% csrf_token %}
        <!-- Form Group (email address)-->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.password.errors}}
            {{form.confirm_password.errors}}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
            {{form.password}}
            <button onclick='togglePasswordVisibility("icon-password", "update_new_password")'
                class="btn btn-outline-secondary" type="button">
                <i id="icon-password" class="bi bi-eye-fill"></i>
            </button>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
            {{form.confirm_password}}
            <button onclick='togglePasswordVisibility("icon-confirm_password", "update_confirm_password")'
                class="btn btn-outline-secondary" type="button">
                <i id="icon-confirm_password" class="bi bi-eye-fill"></i>
            </button>
        </div>

        <!-- Form Group (submit options)-->
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock card_body %}