{% extends 'authentication/password_reset_base.html' %}
{% load i18n %}

{% block password_title %}
{% trans "Password Recovery" %}
{% endblock password_title %}

{% block card_body %}
<div class="card-body">
    <div class="small mb-3 text-muted">
        {% trans "Enter your email address and we will send you a link to reset your password." %}
    </div>
    <!-- Forgot password form-->
    <form>
        <!-- Form Group (email address)-->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.email.errors}}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-envelope-open-fill"></i>
            </span>
            {{form.email}}
        </div>
        <!-- Form Group (submit options)-->
        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small" href="{{login_url}}">Return to login</a>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </form>
</div>
<div class="card-footer text-center">
    <div class="small"><a href="{{register_url}}">Need an account? Sign up!</a></div>
</div>
{% endblock card_body %}